<div class="alerts">
  <%flash%>
</div>

<h1>Reset your password</h1>

<%= form_tag(:controller => 'users', :action => 'password_reset', :method =>'post') do %>

  <div class="field">
    <%= label_tag(:q, "Email") %>
    <%= text_field_tag(:q) %>
  </div>

  <div class="actions">
    <%= submit_tag("Search") %>
  </div>
<% end %>
